<html>
<head>
	<title>The Gossip Project</title>
</head>
<body>
	<h1>The Gossip Project</h1>
	<h2>Mieux que Gossip Girls, voici la liste des potins !!!!</h2>
	<a href='welcome/'>Crée ton propre potin</a>
	<p><%= puts @gossip %></p>
	

</body>
</html>